.container{
    margin: 10px 20px;
    padding: 10px 20px;
}.change-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}


.info-container{
    margin: 10px 30px;
    padding: 10px 30px;
}.notice{
    background-color: aqua;
}.btn{
    width: 120px;
    height: 35px;
    border: none;
}.btn-notice{
    margin: 10px 30px;
    background-color: chocolate;
}